* @Stygian-Tech/maintainers

/packages/lexicons/ @Stygian-Tech/maintainers
/packages/rust/ @Stygian-Tech/maintainers
/infra/database/ @Stygian-Tech/maintainers
/infra/marque/ @Stygian-Tech/maintainers
/SECURITY.md @Stygian-Tech/maintainers
